* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;


}

body {
    max-width: 100vw;
    min-height: 100vh;
}

header {
    background-color: black;
    width: 2000px;
    height: 500px;

}

div {
    width: 2000px;
}


.banner {
    width: 2000px;
    height: 500px;
    border: 4px solid black;
}

h1 {
    position: relative;
    bottom: 300px;
    font-size: 50px;
    background-color: #196F3D;
    border: 4px solid #F1C40F;
    bottom: 500px;
    padding-left: 10px;


}

.logo {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: whitesmoke;
    border: 4px solid #F1C40F;
    left: 1700px;
    bottom: 568px;
}

h2 {
    display: inline;
    position: relative;
    bottom: 500px;
    font-size: 50px;
    background-color: #196F3D;
    border: 4px solid #F1C40F;
    right: 100px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;




}

.menu {
    display: block;

}

nav {
    display: inline;
    position: relative;
    left: 1000px;
    bottom: 480px;
    font-size: 30px;
    background-color: #196F3D;
    margin: 10px;
}

nav a {
    padding: 10px;
    color: black;
}

.text {

    background-color: whitesmoke;
}

article {
    height: 200px;
    width: 500px;
    display: flex;
    position: relative;
    left: 50px;
    bottom: 250px;
    width: 800px;
    background-color: whitesmoke;
    border: 3px solid #196F3D;
    font-size: 15px;

}

.text {
    width: 850px;
    display: inline;


}

.text p {
    width: 850px;
    display: inline;


}

p {
    width: 850px;


}

.text h3 {
    width: 850px;
    display: inline;

}